<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.robin.awm.dao.ConfigMapper" >
  <!--<cache type="pers.robin.awm.util.RedisCache" />-->
  <resultMap id="BaseResultMap" type="pers.robin.awm.model.Config" >
    <constructor >
      <arg column="key" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="value" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="pers.robin.awm.model.Config" >
    insert into config (`key`, `value`)
    values (#{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pers.robin.awm.model.Config" >
    insert into config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="key != null" >
        `key`,
      </if>
      <if test="value != null" >
        `value`
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="pers.robin.awm.model.Config" >
    update config
    set `value`= #{value, jdbcType=VARCHAR}
    where `key` = #{key, jdbcType=VARCHAR}
  </update>
  <delete id="delete" parameterType="java.lang.String">
    delete from config
    where `key` = #{key, jdbcType=VARCHAR}
  </delete>
  <select id="selectByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select `key`, `value`
    from config
    where `key` = #{key, jdbcType=VARCHAR}
  </select>
</mapper>